<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>日历.png</string>
		<key>name</key>
		<string>日历</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>信息.png</string>
		<key>name</key>
		<string>信息</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>iBooks.png</string>
		<key>name</key>
		<string>iBooks</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Passbook.png</string>
		<key>name</key>
		<string>Passbook</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>邮件.png</string>
		<key>name</key>
		<string>邮件</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>天气.png</string>
		<key>name</key>
		<string>天气</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>语音备忘录.png</string>
		<key>name</key>
		<string>语音备忘录</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>股市.png</string>
		<key>name</key>
		<string>股市</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>音乐.png</string>
		<key>name</key>
		<string>音乐</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>App Store.png</string>
		<key>name</key>
		<string>App Store</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>播客.png</string>
		<key>name</key>
		<string>播客</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>备忘录.png</string>
		<key>name</key>
		<string>备忘录</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>健康.png</string>
		<key>name</key>
		<string>健康</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>提醒事项.png</string>
		<key>name</key>
		<string>提醒事项</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>时钟.png</string>
		<key>name</key>
		<string>时钟</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>地图.png</string>
		<key>name</key>
		<string>地图</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>设置.png</string>
		<key>name</key>
		<string>设置</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>照片.png</string>
		<key>name</key>
		<string>照片</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Safari.png</string>
		<key>name</key>
		<string>Safari</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>视频.png</string>
		<key>name</key>
		<string>视频</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>计算器.png</string>
		<key>name</key>
		<string>计算器</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Game Center.png</string>
		<key>name</key>
		<string>Game Center</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>提示.png</string>
		<key>name</key>
		<string>提示</string>
	</dict>
</array>
</plist>
